<script src="/js/jquery-2.1.1.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>

<script>

function openboard(){
    var selectedId = $('#selectedId').val();
    submit("/dashboard/openboard/" + selectedId);
}

function editBoard(){
    var selectedId = $('#selectedId').val();
    submit("/dashboard/editBoard/" + selectedId);
}

function deleteBoard(){
  $("#confirmDeleteBoard").dialog({
      modal: true,
      resizable: false,
      draggable: false,
      open: function(){
          var focusButton = $(".ui-dialog-buttonset>button:nth-child(2)");
          focusButton.focus();
      },
      buttons: {
        "はい": function() {
          $(this).dialog("close");
          var selectedId = $('#selectedId').val();
          submit("/dashboard/deleteBoard/" + selectedId);
        },
        "いいえ": function() {
          $(this).dialog("close");
          return false;
        }
      }
    });
    return false;
}

function createBoard(){
    submit("/dashboard/createBoard");
}

function userManage(){
    submit("/usermanage/index");
}

function showDescription(){
    var value = $('#selectedId').val();
    var desc=$("#selectedId option[value='" + value + "']").data('desc');
    $('#description-area').text(desc);
}

// カテゴリ・タイトルプルダウンを設定する。
function setUpPulldowns(){
    var data = <%- categoryData %>;
    var categories = data["categories"];
    var map = data["map"];
    categories = [""].concat(categories);
if( $('#category').children().length == 0 ){
    _.each(categories, function(category){
        var $option = $('<option></option>')
            .text(category);
        $('#category').append($option);
    });
}
    $('#category').change(function (){
        var cat = $('#category').val();
        var boards = map[cat];
        $('#selectedId').empty();
        _.each(boards, function(item){
            var op = $('<option></option>');
            op.text(item["title"]);
            op.val(item["id"]);
            op.data('desc', item["desc"]);
            $('#selectedId').append(op);
        });
        disableButtonsIfNotSelected();
        showDescription();
    });

    $('#selectedId').bind('change', function(){
        showDescription();
    });

    $('#category').trigger('change');

}

/**
 * ボードが選択されていない場合には、開く・編集・削除ボタンを非活性とする。
 */
function disableButtonsIfNotSelected(){
	var selectedId = $('#selectedId').val();
	var flagDisabled = (selectedId == null);
	$('#action_open').prop('disabled', flagDisabled);
	$('#action_edit').prop('disabled', flagDisabled);
	$('#action_delete').prop('disabled', flagDisabled);
}
var selectedCategory ='<%= category %>';
$(function(){
    setUpPulldowns();
    showDescription();
		$('#category').val(selectedCategory); // カテゴリに前回選択状態をセット
    setUpPulldowns();
    if('<%= selectedId %>' != "undefined"){
		var selectedId ='<%= selectedId %>';
		$('#selectedId').val(selectedId); // カテゴリに前回選択状態をセット
		console.log("selectedId:" + selectedId);
    }
    disableButtonsIfNotSelected();
    $('#selectedId').bind('change', disableButtonsIfNotSelected);

})
</script>

<style>
.selectbox{
	font-size: 16px;　/* iphoneで拡大表示を回避 */
}
</style>

<div class="container theme-showcase" role="main">
<form name="main" method="POST">
    <div class="row" style="margin-bottom:10px;">
        <div class="form-group">
            <label for="category" class="col-xs-12 col-sm-2 control-label">カテゴリ</label>
            <div class="col-xs-12 col-sm-10">
                <select id="category" name="category" class="selectbox form-control"></select>
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom:10px;">
        <div class="form-group">
            <label for="selectedId" class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label">タイトル</label>
            <div class="col-xs-12 col-sm-6 col-md-7 col-lg-8 btn-group">
                <select id="selectedId" name="selectedId" class="selectbox form-control"></select>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3  col-lg-2 btn-group">
                <button id="action_open" class="btn btn-default" onclick="openboard()">開く</button>
                <% if(loginInfo.roleName === 'admin') { %>
                <button id="action_edit" class="btn btn-default" onclick="editBoard()">編集</button>
                <button id="action_delete" class="btn btn-default" onclick="return deleteBoard()">削除</button>
                <% } %>
            </div>
        </div>
    </div><!-- /.row -->
    <div class="row">
        <div class="form-group">
            <label for="description-area" class="col-xs-12 col-sm-2 control-label">説明</label>
            <div class="col-xs-12 col-sm-10">
                  <div id="description-area" class="well"></div>
              </div>
        </div>
    </div>
    <% if(loginInfo.roleName === 'admin') { %>
      <button type="button" class="btn btn-default" onclick="createBoard()" >新規作成</button>
    <% } %>
    </div> <!-- /container -->
    <input type="hidden" name="loginUserId" value="<%= loginInfo.userId %>"/>

</form>
<div id="confirmDeleteBoard" title="ボード削除の確認" style="display:none">
  <p>
    <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 30px 0;"></span>
    ボードを削除します。よろしいですか？
  </p>
</div>
